<div style="height: 160px; width:100%; background-color: blueviolet; color: cornsilk;">
    <h1 style="margin: 0 auto;">This is header</h1>
    <p>Current page is {{title}}</p>
    <br>
    <a href="/">Index</a>
    <a href="/about">About</a>    

</div>